[Unit]
Description=Codec Service

[Service]
Type=simple
PIDFile=/etc/codec/codec.pid
ExecStart=/etc/codec/boot.sh

[Install]
WantedBy=multi-user.target