[Unit]
Description=codec vscode
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/code-server --disable-telemetry --auth password --new-window --bind-addr 0.0.0.0:8080 /codec/.codec/default.code-workspace
Restart=always
User=root

[Install]
WantedBy=default.target